<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>      
    </head>
    <body>
        <nav class="nav navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>  
                    </button>
                    <a class="navbar-brand" href="/">我是勇者</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a  href="/story">STORY</a></li>
                        <li><a  href="/about">ABOUT</a></li>
                        <li><a  href="/char">CHARACTER</a></li>
                        <li><a  href="/chat">COMMENT</a></li>
                    </ul>
                </div>
            </div>
        </nav> 

        <div class="content">
             <div >
                <h1>『我是勇者』</h1><h3>2D橫向捲軸動作遊戲</h3>
                <p>
                    平台：行動裝置(Android)
                </p>
                <p>
                    當畫面上的指令按鈕，不再是固定不動，是會被敵人弄得措手不及、還是會讓操作完全掌握在自己手中呢？超出常理的指令式動作遊戲！
                </p>
                <div class="game">
                    <img src="images/game.png" style="max-height:45vh; min-weight:8vw;" align="right">
                </div>
            </div>
        </div>
        

    </body>
</html>
