<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link href="css/enter_style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
        <div class="btn">
            <a href="/about" style="text-decoration:none;"><img src="images/LOGO.png"></a>
        </div>
        </div>
    </body>
    <style type="text/css">
    body{
        margin:0;
        padding:0;
        height:100%;
        background: #000 url(images/enter.png) top center fixed no-repeat;
        -moz-background-size: cover;
        background-size: cover;
    }
    .container{
        position: relative;
    }
    .btn{ 
 
       position: absolute;
        left: 50%;
        transform: translateX(-50%);
        text-align: center; 
   }
   .btn img{
       margin: 0px auto;
       height:150px;
   }
    </style>
</html>