<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>       
    </head>
    <body>
        <nav class="nav navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>  
                    </button>
                    <a class="navbar-brand" href="/">我是勇者</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a  href="/about">ABOUT</a></li>
                        <li><a  href="/story">STORY</a></li>
                        <li><a  href="/guide">PLAYGUIDE</a></li>
                        <li><a  href="/char">CHARACTER</a></li>
                        <li><a  href="/chat">COMMENT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div >
                <h1>操作教學</h1>
                <p style="min-height: 100px;">
                    施工中
                </p>

            </div>
        </div>
        

    </body>
</html>