<!DOCTYPE html>
<html>
    <head>
        <title>I'm the Brave</title>
        <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
        <link href="css/main_style.css" rel="stylesheet" type="text/css">
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>       
    </head>
    <body>
        <nav class="nav navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>  
                    </button>
                    <a class="navbar-brand" href="/">我是勇者</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li><a  href="/story">STORY</a></li>
                        <li><a  href="/about">ABOUT</a></li>
                        <li><a  href="/char">CHARACTER</a></li>
                        <li><a  href="/chat">COMMENT</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div >
                <h1>魔王與勇者</h1>
                <p style="min-height: 100px;">
                    在人類與魔物相爭的時代，魔王為人類帶來了恐懼、而挺身和魔王對抗的勇者締造了傳說。在和平來臨之前，冒險者們也依然在追尋著勇者。
                </p>
                <div class="dl">
                    <button type="button" class="btn btn-primary"><a href="https://drive.google.com/open?id=0B_sKFlwPA-dkeHhZSEYwUF83TWs" style="text-decoration:none;color:white;">Download</a></button>
                </div>
            </div>
        </div>
        

    </body>
</html>